*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
.idea
def3dgs_input
ek_eg_no_sub
ek_eg_sub
monst3r_output
ek_own
ek_own_sub
hoi4d_eg
hoi4d_eg_no_sub
hoi4d_eg_sub
ego_exo_data